<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pregunta 5</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Pregunta 5</h1>
        <p>¿Qué prefieres desayunar?</p>
        <form th:action="@{/guardar-respuesta/pregunta5}" method="post">
            <div>
                <input type="radio" id="op1" name="value" value="baguette" required>
                <label for="op1">Tostadas con tomate</label>
            </div>
            <div>
                <input type="radio" id="op2" name="value" value="croissant">
                <label for="op2">Croissant con mantequilla</label>
            </div>
            <div>
                <input type="radio" id="op3" name="value" value="brioche">
                <label for="op3">Pan dulce</label>
            </div>
            <div>
                <input type="radio" id="op4" name="value" value="pan de molde">
                <label for="op4">Un sándwich</label>
            </div>
            <button type="submit">Siguiente</button>
        </form>
    </div>
</body>
</html>
